html {
    position: relative;
    min-height: 100%;
}

.cardimage {
    height: 30vh;
    object-fit: cover;
}

.carddescription {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

main {
margin-bottom: 5rem;
}

.cartRow {
    height: 150px;
}

.cartImage {
    max-height: 150px;
}

.carttitle {
    margin: auto;
}

.order-confirm-text {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#orderid {
    font-weight: bolder;
    color: green;
}

h1 {
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#colors {
    max-width: 10rem;
}

#addtocart {
    width: 12rem;
    margin: auto;
}

#productprice {
    margin: auto;
}