html {
    position: relative;
    min-height: 100%;
}

.cardimage {
    height: 30vh;
    object-fit: cover;
}

.carddescription {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.footer {
    position: relative;
    bottom: 0;
}